.navbar-button {
  width: 12vw;
  margin-bottom: 30px;
}
.avatar {
  max-width: 200px;
  max-height: 200px;
  border-radius: 50%;
  margin-bottom: 30px;
}
.user-avi {
  max-height: 20px;
  max-height: 20px;
  border-radius: 20%;
}
.sidenav-button {
  display: block;
}
#dragging {
  max-width: 250px;
  max-height: 250px;
}
#content {
  overflow: scroll;
}
.dash-buttons {
  float: right;
}
#dashboard-list {
  max-width: 80vw;
  max-height: 250px;
  margin-bottom: 20px;
  margin-left: 125px;
}
.edit-btn {
  position: absolute;
  left: 900px;
  max-height: 80px;
  max-width: 80px;
}
.resizeme {
  resize: both;
  overflow: auto;
}
#chartsdisplay {
  height: 100vh;
  max-width: 1250px;
  margin-left: 15px;
  margin-right: 15px;
  border: 1px dotted #000;
}
